*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: sans-serif;
}
                      
                              /* small circle styling  */

.circle{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #00ffff;
    width: 100vw;
}
.circle div{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
}
.circle div:nth-child(1){ 
    animation: anim-circle 1.5s ease-in-out forwards; 
}
@keyframes anim-circle{
    0%{transform: scale(.5);}
    25%{transform: scale(2.5);}
    50%{transform: scale(1);}
    75%{transform: scale(3.5);}
    100%{transform: scale(0);}
}


.circle div:nth-child(2){
    animation: move-one 2s 1.5s;
}

@keyframes move-one {
    0%{transform: translate(0) scale(0);}
    20%{transform: translate(-100px, -100px) scale(1);}
    40%{transform: translate(-100px, 100px) scale(1);}
    60%{transform: translate(100px, 100px) scale(1);}
    80%{transform: translate(100px, -100px) scale(1);}
    100%{transform: translate(0) scale(1);}
}

.circle div:nth-child(3){
    animation: move-two 2s 1.5s;
}

@keyframes move-two {
    0%{transform: translate(0) scale(0);}
    20%{transform: translate(-100px, 100px) scale(1);}
    40%{transform: translate(100px, 100px) scale(1);}
    60%{transform: translate(100px, -100px) scale(1);}
    80%{transform: translate(-100px, -100px) scale(1);}
    100%{transform: translate(0) scale(1);}
}

.circle div:nth-child(4){
    animation: move-three 2s 1.5s;
}

@keyframes move-three {
    0%{transform: translate(0) scale(0);}
    20%{transform: translate(100px, 100px) scale(1);}
    40%{transform: translate(100px, -100px) scale(1);}
    60%{transform: translate(-100px, -100px) scale(1);}
    80%{transform: translate(-100px, 100px) scale(1);}
    100%{transform: translate(0) scale(1);}
}

.circle div:nth-child(5){
    animation: move-four 2s 1.5s;
}

@keyframes move-four {
    0%{transform: translate(0) scale(0);}
    20%{transform: translate(100px, -100px) scale(1);}
    40%{transform: translate(-100px, -100px) scale(1);}
    60%{transform: translate(-100px, 100px) scale(1);}
    80%{transform: translate(100px, 100px) scale(1);}
    100%{transform: translate(0) scale(1);}
}

                      /* big circle styling  */

.big-circle{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.big-circle div{
    position: absolute;
    top: calc((50% - 1515px));
    left: calc((50% - 1515px));
    width: 3000px;
    height: 3000px;
    border-radius: 50%;
    transform: scale(0);
}

.big-circle div:nth-child(1){
    background-color: #fff;
    animation: big 2s 3.5s;
}
.big-circle div:nth-child(2){
    background-color: #cf51ad;
    animation: big 2s 3.8s;
}
.big-circle div:nth-child(3){
    background-color: #4287f5;
    animation: big 2s 4.1s forwards;
}
@keyframes big {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

                        /* thanks styling  */

.thnq{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.thnq div{
    position: absolute;
    top: 50%;
    left: 48%;
    height: 50px;
    width: 50px;
    background: #9fddb5;
    color: #ca3c3c;
    font-size: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    margin: auto;
    opacity: 0;
}


.thnq div:nth-child(1){
    animation: thnq-T 2.5s 4.4s forwards;
}
@keyframes thnq-T {
    0%{transform: translate(0);}
    10%{opacity: 1;}
    100%{transform: translateX(-250px); opacity: 1;}
}


.thnq div:nth-child(2){
    animation: thnq-H 2.7s 4.7s forwards;
}
@keyframes thnq-H {
    0%{transform: translate(0);}
    10%{opacity: 1;}
    100%{transform: translateX(-150px); opacity: 1;}
}


.thnq div:nth-child(3){
    animation: thnq-A 2.9s 5s forwards;
}
@keyframes thnq-A {
    0%{transform: translate(0);}
    10%{opacity: 1;}
    100%{transform: translateX(-50px); opacity: 1;}
}


.thnq div:nth-child(4){
    animation: thnq-N 2.9s 5s forwards;
}
@keyframes thnq-N {
    0%{transform: translate(0);}
    10%{opacity: 1;}
    100%{transform: translateX(50px); opacity: 1;}
}


.thnq div:nth-child(5){
    animation: thnq-K 2.7s 4.7s forwards;
}
@keyframes thnq-K {
    0%{transform: translate(0);}
    10%{opacity: 1;}
    100%{transform: translateX(150px); opacity: 1;}
}


.thnq div:nth-child(6){
    animation: thnq-S 2.5s 4.4s forwards;
}
@keyframes thnq-S {
    0%{transform: translate(0);}
    10%{opacity: 1;}
    100%{transform: translateX(250px); opacity: 1;}
}